.ex-franchise {
    padding: 50px 0;
}

.ex-franchise-container {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-content: center;
    align-items: center;

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;

        .place {
            color: red;
            letter-spacing: 6px;
            margin: 10px 0;
            font-size: 13px;
            text-transform: uppercase;
        }

        .title {
            span {
                font-size: 28px;
            }

            margin-bottom: 20px;
            font-size: 20px;
            font-weight: normal;
            font-family: var(--font-opensans);
        }

    }
}