@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-opensans: "Open Sans", sans-serif;
    --font-notosans: "Noto Serif", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

p {
    font-size: 15px;
    font-family: var(--font-opensans);
    color: gray;
}

body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

@font-face {
    font-family: futurak;
    src: url('../fonts/futurak.ttf');
}


/*section-1 start*/
.section-1 {
    width: 100%;
    height: 500px;
    background-color: black;
}

.section-1>h2 {
    color: aliceblue;
    font-family: var(--font-opensans);
    text-align: center;
    margin: 0px;
    font-size: 35px;
}

.section-1>p {
    color: grey;
    text-align: center;
}

.section-1-images {
    display: flex;
}

.section-1-img-1 {
    margin: 50px;
    background-color: aliceblue;
}

.section-1-img-2 {
    margin: 50px;
    background-color: aliceblue;
}

.section-1-img-3 {
    margin: 50px;
    background-color: aliceblue;
}

.section-1-img-1>img {
    width: 90%;
    height: 50%;
    padding-left: 15px;
    padding-top: 10px;
}

.section-1-img-2>img {
    width: 90%;
    height: 50%;
    padding-left: 15px;
    padding-top: 10px;
}

.section-1-img-3>img {
    width: 90%;
    height: 50%;
    padding-left: 15px;
    padding-top: 10px;
}

#b-3 {
    width: 150px;
    height: 50px;
    background-color: black;
    border-radius: 30px;
    border: 1px solid grey;
    margin-left: 70px;
    margin-top: 10px;
    color: white;
}

#b-4 {
    width: 150px;
    height: 50px;
    background-color: black;
    border-radius: 30px;
    border: 1px solid grey;
    margin-left: 70px;
    margin-top: 10px;
    color: white;
}

#b-5 {
    width: 150px;
    height: 50px;
    background-color: black;
    border-radius: 30px;
    border: 1px solid grey;
    margin-left: 70px;
    margin-top: 10px;
    color: white;
}

.section-1>h2>span {
    font-family: futurak;
}

.section-1>h2 {
    font-size: 40px;
}

/*section-1 end*/

/*section-2 start*/


/*section-2 end*/

/*section-3 start*/
.section-3 {
    background-color: black;
}

.section-3-header {
    text-align: center;
}

.section-3-images {
    width: 300px;
    height: 200px;
}

.s-3-child-1 {
    align-items: center;
    padding: 50px;
    text-align: center;
}

.s-3-child-2 {
    align-items: center;
    padding: 50px;
    text-align: center;
}

.s-3-child-3 {
    align-items: center;
    padding: 50px;
    text-align: center;
}

.s-3-child-4 {
    align-items: center;
    padding: 50px;
    text-align: center;
}

.s-3-child-5 {
    align-items: center;
    padding: 50px;
    text-align: center;
}

.s-3-child-6 {
    align-items: center;
    padding: 50px;
    text-align: center;
}

.s-3-child-7 {
    align-items: center;
    padding: 50px;
    text-align: center;

}

.s-3-child-8 {
    align-items: center;
    padding: 50px;
    text-align: center;
}

.s-3-child-9 {
    align-items: center;
    padding: 50px;
    text-align: center;

}

.main-1 {
    width: 100%;
    height: 500px;
    /* background-color: green; */
}

.main-2 {
    width: 100%;
    height: 500px;
    /* background-color: green; */
}

.main-3 {
    width: 100%;
    height: 500px;
    /* background-color: green; */
}

.child-buttons {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background-color: black;
    color: white;
    border: 2px solid grey;
}

/*section-3 end*/


/*section-4 start*/
.section-4 {
    background-color: rgb(20, 18, 20);
}

.section-4-header {
    text-align: center;
    color: white;
}

.section-4-image>img {
    width: 600px;
    height: 400px;
    padding: 30px;
}

.section-4-content {
    padding-top: 70px;
    padding-left: 60px;
}

.section-4-main {
    display: flex;
}

/*section-4 end*/
/*section-5 start*/
.section-5-header>h1 {
    margin: 0px;
}

.section-5 {
    width: 100%;
    height: 1000px;
    background-color: black;
}

.section-5-body {
    padding-left: 150px;
}

.s-5-main-1 {
    display: flex;
}

.s-5-child-1 {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

.s-5-child-2 {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

.s-5-child-3 {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

.s-5-main-2 {
    display: flex;
}

.s-5-child-4 {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

.s-5-child-5 {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

.s-5-child-6 {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

.s-5-main-3 {
    display: flex;
}

.s-5-child-7 {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

.s-5-child-8 {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

.s-5-child-9 {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

/*section-5 end*/
/*section-6 start*/
.section-6 {
    background-color: rgb(20, 18, 20);
    margin-top: 0px;
}

.section-6-header {
    text-align: center;
    font-size: 20px;
    color: white;
}

.section-6-content {
    display: flex;
}

#section-6-images {
    width: 200px;
    height: 250px;
    margin-left: 15px;
    margin-right: 30px;
}

/*section-6 end*/

/*footer start*/
.footer {
    background-color: black;
    width: 100%;
    height: 500px;
    display: flex;
}

.contacts {
    color: white;
    width: 40px;
    height: 40px;
    background-color: red;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
}

/*footer end*/