.opening-soon {
    padding: 50px 0;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;

        .card {
            display: flex;
            gap: 7px;
            padding: 40px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            color: black;
            border-radius: 10px;

            img {
                width: 40px;
                height: 40px;
            }

            .place {
                color: red;
                letter-spacing: 4px;
                font-size: 10px;
                text-transform: uppercase;
            }

            h1 {
                font-size: 24px;
                margin: 0;
                font-family: var(--font-opensans);
                font-weight: bold;
            }

            .city {
                font-size: 20px;
                color: black;
            }
        }
    }


}