.vil-franchise {
    padding: 50px 20px;
}

.vil-franchise .section-2-header {
    text-align: center;
    margin-bottom: 40px;
}

.vil-franchise .card {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(20, 18, 20);
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.vil-franchise .card img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.vil-franchise .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.vil-franchise .place {
    color: red;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-size: 14px;
}

.vil-franchise .title {
    font-size: 28px;
    font-weight: 400;
    font-family: var(--font-opensans);
}

.vil-franchise .title span {
    font-size: 36px;
    font-family: futurak;
}

.vil-franchise .details p {
    line-height: 1.5;
}

/* Tablet */
@media (max-width: 992px) {
    .vil-franchise .card {
        flex-direction: column;
        padding: 30px;
    }

    .vil-franchise .card img,
    .vil-franchise .content {
        width: 100%;
    }

    .vil-franchise .title span {
        font-size: 32px;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .vil-franchise {
        padding: 30px 15px;
    }

    .vil-franchise .card {
        gap: 25px;
        padding: 20px;
    }

    .vil-franchise .title {
        font-size: 22px;
    }

    .vil-franchise .title span {
        font-size: 26px;
    }

    .vil-franchise .place {
        letter-spacing: 4px;
        font-size: 12px;
    }
}