.welcome {
    width: 100%;
    text-align: center;
    padding: 70px 0px;

    h1 {
        font-size: 36px;
        line-height: 40px;
        font-weight: lighter;
        font-family: var(--font-opensans);

        span {
            font-family: futurak;
            font-size: 48px;

        }
    }
}

.welcome-container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;

    grid-template-columns: repeat(4, 220px);
    width: 100%;

    .card {
        .img-container {
            width: 100%;
            display: flex;
            height: 140px;
            border-radius: 7px;

            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width:960px) {
    .welcome-container {
        display: block;
        white-space: no-wrap;


        .card {
            display: inline-block;
            white-space: wrap;
        }
    }
}